@charset "UTF-8";

@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'brandico';
    src: url('fonts/brandico.eot?#iefix') format('embedded-opentype'),
    url('fonts/brandico.woff') format('woff'),
    url('fonts/brandico.ttf') format('truetype'),
    url('fonts/brandico.svg#brandico') format('svg');
}

@font-face
{
    font-weight: 400;
    font-style: normal;
    font-family: 'Anton';
    src: url('fonts/anton.ttf') format('truetype');
}

.brandico-facebook:before
{
    content: '\f300';
}

.brandico-facebook-rect:before
{
    content: '\f301';
}

.brandico-twitter:before
{
    content: '\f302';
}

.brandico-twitter-bird:before
{
    content: '\f303';
}


[class*='brandico-']:before
{
    font-family: 'brandico', sans-serif;
}


html
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

body
{
    background: white;
    font-family: 'Helvetica', sans-serif;
}

.wrap
{
    position: relative;
}

.game
{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 500px;
            perspective: 500px;
}

@-webkit-keyframes matchAnim
{
    0%
    {
        background: #bcffcc;
    }

    100%
    {
        background: white;
    }
}

@keyframes matchAnim
{
    0%
    {
        background: #bcffcc;
    }

    100%
    {
        background: white;
    }
}

.card
{
    position: relative;
    z-index: 50;
    display: block;
    float: left;
    width: 25%;
    height: 25%;
    text-align: center;
    cursor: pointer;

    -webkit-perspective: 500px;
            perspective: 500px;
}

.card .inside
{
    display: block;
    width: inherit;
    height: inherit;
    -webkit-transition: .4s ease-in-out;
       -moz-transition: .4s ease-in-out;
         -o-transition: .4s ease-in-out;
            transition: .4s ease-in-out;

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -o-transision: .4s ease-in-out;
}

.card .inside.picked,
.card .inside.matched
{
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
         -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card .inside.matched
{
    -webkit-animation: 1s matchAnim ease-in-out;
       -moz-animation: 1s matchAnim ease-in-out;
         -o-animation: 1s matchAnim ease-in-out;
            animation: 1s matchAnim ease-in-out;
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
        -ms-animation-delay: .4s;
         -o-animation-delay: .4s;
            animation-delay: .4s;
}

.card .front,
.card .back
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.card .back img
{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.card .front img
{
    display: block;
    margin: 0 auto;
    max-height: 100%;
    width: 100%;
}

.card .front
{
    -webkit-transform: rotateY(-180deg);
       -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
         -o-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

@media (max-width: 800px)
{
    .card .front
    {
        padding: 5px;
    }
}

.modal-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, .8);
}

.modal
{
    position: relative;
    top: 50%;
    display: none;
    margin: 0 auto;
    padding: 2em 1em;
    min-height: 380px;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.modal .winner
{
    color: #4d4d4d;
    text-align: center;
    text-shadow: 0 3px 0 black;
    font-size: 80px;
    font-family: 'Anton', sans-serif;
}

@media (max-width: 480px)
{
    .modal .winner
    {
        font-size: 60px;
    }
}

.modal .message
{
    text-align: center;
}

.modal .message a
{
    color: #28afe6;
    text-decoration: none;
    font-weight: bold;
}

.modal .message a:hover
{
    border-bottom: 1px dotted #56c0eb;
    color: #56c0eb;
}

.restart{
  cursor: pointer; cursor: hand;
}

.modal .share-buttons
{
    margin: -4em auto;
    text-align: center;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons img{
  width: 32px;
}

footer
{
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 20px;
}

footer .disclaimer
{
    color: #727272;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

@media (max-width: 767px)
{
    footer .disclaimer
    {
        font-size: 8px;
    }
}

.show{
    display: block;
    visibility: visible;
    opacity: 1;
}
.hide{
    display: none;
    visibility: hidden;
    opacity: 0;
}
